<h1>Data preprocessing</h1>

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01
12,476,France,Female,34,10,0.00,2,1,0,26260.98
13,549,France,Female,25,5,0.00,2,0,0,190857.79
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81
19,726,France,Female,24,6,0.00,2,1,1,54724.03
20,732,France,Male,41,8,0.00,2,1,1,170886.17
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53
23,669,France,Male,46,3,0.00,2,0,1,8487.75
24,846,France,Female,38,5,0.00,1,1,1,187616.16
25,577,France,Male,25,3,0.00,2,0,1,124508.29
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95
27,571,France,Male,44,9,0.00,2,0,0,38433.35
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43
29,411,France,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02
9973,611,France,Male,27,7,0.00,2,1,1,157474.10
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78
9977,683,France,Female,32,9,0.00,2,1,1,24991.92
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40
9983,613,France,Male,40,4,0.00,1,0,0,151325.24
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41
9988,775,France,Male,30,4,0.00,2,1,0,49337.84
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52
9994,800,France,Female,29,2,0.00,2,0,0,167773.55
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [6]:
y

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [7]:
#Create dummy variables

geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [8]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

In [9]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,France,Male,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,France,Female,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,France,Female,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,France,Female,24,6,0.00,2,1,1,54724.03,0,0,0
20,732,France,Male,41,8,0.00,2,1,1,170886.17,0,0,1
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0,1,0
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53,0,1,0
23,669,France,Male,46,3,0.00,2,0,1,8487.75,0,0,1
24,846,France,Female,38,5,0.00,1,1,1,187616.16,0,0,0
25,577,France,Male,25,3,0.00,2,0,1,124508.29,0,0,1
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,1,0,1
27,571,France,Male,44,9,0.00,2,0,0,38433.35,0,0,1
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,1,0,0
29,411,France,Male,29,0,59697.17,2,1,1,53483.21,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36,0,0,1
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81,0,0,0
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02,0,0,1
9973,611,France,Male,27,7,0.00,2,1,1,157474.10,0,0,1
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24,0,0,1
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1,0,1
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78,0,0,0
9977,683,France,Female,32,9,0.00,2,1,1,24991.92,0,0,0
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97,0,0,1
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28,0,0,0
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0,1,1
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1,0,1
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1,0,0
9983,613,France,Male,40,4,0.00,1,0,0,151325.24,0,0,1
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,1,0,1
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00,0,0,1
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,1,0,1
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0,1,1
9988,775,France,Male,30,4,0.00,2,1,0,49337.84,0,0,1
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0,1,1
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,1,0,1
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71,0,0,0
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0,1,1
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52,0,0,1
9994,800,France,Female,29,2,0.00,2,0,0,167773.55,0,0,0
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [10]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\HCL\AppData\Local\Continuum\anaconda4\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\HCL\AppData\Local\Continuum\anaconda4\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\HCL\AppData\Local\Continuum\anaconda4\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """

In [13]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [14]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [15]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
49      0
7931    0
1523    0
7552    0
496     0
5110    0
1957    1
229     0
1738    0
7789    0
7567    1
4787    0
2607    0
3784    0
8879    0
1003    1
5676    0
4853    0
8946    0
9038    1
3042    0
8277    0
5979    0
2075    0
4482    0
       ..
755     0
8291    0
2496    0
7599    1
1871    0
2046    0
7877    1
4851    0
5072    0
2163    0
6036    0
6921    0
6216    0
537     0
9893    0
2897    0
7768    0
2222    0
2599    0
705     1
3468    0
6744    0
5874    0
4373    1
7891    0
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

<h1>Creating ANN<h1>

In [16]:
## Perform Hyperparameter Optimization

from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid

Using TensorFlow backend.

In [17]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [18]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [19]:
layers = [[20], [40, 20], [45, 30, 15]]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

In [20]:
grid_result = grid.fit(X_train, y_train)

WARNING:tensorflow:From C:\Users\HCL\AppData\Local\Continuum\anaconda4\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\HCL\AppData\Local\Continuum\anaconda4\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

In [21]:
[grid_result.best_score_,grid_result.best_params_]

[0.8573749899864197,
 {'activation': 'relu',
  'batch_size': 128,
  'epochs': 30,
  'layers': [45, 30, 15]}]